.topItem {
  font-size: 38px;
}

.homeContainer {
  min-height: 100vh;
  max-width: 100%
}

.createRoomBtn {
  height: 120px;
  width: 450px;
  border-radius: 30;
  background-color: #0C0C0C;
  transition: all .1s ease-in-out;
}

.createRoomBtn:hover {
  transform: scale(1.1);
}
